<?xmlversion = '1.0' ?> 
<config xmlns:dt='urn:schemas - microsoft - com : datatypes'>
<canny dt:dt='int'>102</canny>
<blur dt:dt='int'>1</blur>
<bright dt:dt='int'>20</bright>
<contrast dt:dt='int'>0</contrast>
<exposure dt:dt='int'>6</exposure>
<calibValue dt:dt='float'>322</calibValue>
<objectWidth dt:dt='int'>550</objectWidth><objectHeight dt:dt='int'>524</objectHeight><threshold dt:dt='int'>104</threshold><hasThreshold dt:dt='bool'>1</hasThreshold><typeThreshold dt:dt='int'>0</typeThreshold></config>